{%
  set classes = [
  'grid-container',
  'layout',
  'layout--four-col-no-header-footer',
]
%}
{%
  set col_classes = [
  'cell',
  'medium-6',
  'large-3',
  'layout__region',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class='grid-x grid-margin-half layout__region'>
      {% if content.first %}
        <div {{ region_attributes.first.addClass(col_classes, 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass(col_classes, 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div {{ region_attributes.third.addClass(col_classes, 'layout__region--third') }}>
          {{ content.third }}
        </div>
      {% endif %}

      {% if content.fourth %}
        <div {{ region_attributes.fourth.addClass(col_classes, 'layout__region--fourth') }}>
          {{ content.fourth }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
